body {
  margin: 0;
  font-family: 'Circular Std', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #070707;
}

* {
  box-sizing: border-box;
}

button,
input,
select {
  font-family: inherit;
}
